#heading-browse {
    margin-left: 2%;
}

.btn-browse {
    position: relative;
    overflow: hidden;
    margin-left: 2%;
}
.btn-browse input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.table-file-selection {
    width: 50%;
    margin-left: 2%;

}

.txt-info{
    width: 20%;
    margin-left: 2%;
}

.txt-field{
    width: 25%;
    margin-left: 2%;
    margin-top:5px;
    vertical-align: top;

}

.txt-area{
    width: 25%;
    height: 15%;
    resize: none;
    vertical-align: top;
    margin-left: 2%;
    margin-top: 5px;

}

.btn-add-tags{
    margin-top: 5px;

}

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: top;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;

  margin-left: 2%;
  width: 25%;
  margin-top: 5px;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;

  margin: 0;
  width: auto;
  max-width: inherit;
}


.focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px rgba(102,175,233,.6);
}

.btn-cancel {
  margin-left: 2%;
  margin-top: 5px;
}

.btn-import {
  margin-left: 2%;
  margin-top: 5px;
}



