
body{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
}

.navbar {
	margin-bottom: 0 !important;
	background-color: #003399 !important;
	border-radius: 0 !important;
	border: 0 !important;

}

.navbar-brand {
	color: white !important;
}

#header-image {
	height: 100%;
}
