body {
	background-color: #262626 !important;
}

.navbar {
	margin-bottom: 0 !important;
	/*background-color: #1c1c1c !important;*/
	background-color: black !important;
	border-radius: 0 !important;
}

.navbar-brand {
	color: #99ccff !important;
}

/*
.navbar {
	margin-bottom: 0 !important;
	background-color: #003399 !important;
	border-radius: 0 !important;
	border: 0 !important;

}

.navbar-brand {
	color: white !important;
}
*/
#header-image {
	height: 100%;
}
