#heading-browse {
  margin-left: 2%;
}

.btn-browse {
  margin-left: 2%;
  overflow: hidden;
  position: relative;
}
.btn-browse input[type=file] {
  background: white;
  cursor: inherit;
  display: block;
  filter: alpha(opacity=0);
  font-size: 100px;
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  outline: none;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.table-file-selection {
  color:white;
  margin-left: 2%;
  width: 50% !important;
  max-width: 50% !important;
}

.txt-info {
  margin-left: 2%;
  width: 20%;
}

.txt-field {
  color: black;
  margin: 5px 2% 5px 2%;
  vertical-align: top;
  width: 25%;
  border-radius: 5px;
}

.txt-area {
  color: black;
  height: 15%;
  margin: 5px 2% 5px 2%;
  resize: none;
  vertical-align: top;
  width: 25%;
  border-radius: 5px;
}

.btn-add-tags {
  margin-top: 5px;
}

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #555;
  display: inline-block;
  line-height: 22px;
  margin: 5px 2% 5px 2%;
  max-width: 100%;
  padding: 4px 6px;
  vertical-align: top;
  width: 25%;  
}

.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  margin: 0;
  max-width: inherit;
  outline: none;
  width: auto;
}


.focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px rgba(102,175,233,.6);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px rgba(102,175,233,.6);
}

.btn-cancel {
  background: #6cf;
  background-color: #014d6f !important;
  color: white;
  margin: 5px 2% 5px 2%;
}

.btn-import {
  background: #6cf;
  background-color: #014d6f !important;
  color: white;
  margin: 5px 2% 5px 2%;
}

.success{
  background: #6cf;
}
.warning{
  background: #c60000;
}
td {
  background: inherit !important;
}
thead {
  border: none;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  vertical-align: top;
  margin: 5px 1% 5px 2%;
  display: inline-block;
  width: 56px;
  height: 27px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  background-color: #014d6f !important;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color:#6cf;
}

input:focus + .slider {
  box-shadow: 0 0 1px #6cf;
}

input:checked + .slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}

/* File selector */
#upload-input {
  display: none;
}

.btn:focus, .upload-btn:focus{
  outline: 0 !important;
} 

.row {
  margin-top: 10px;
}

.upload-btn {
  color: #ffffff;
  background-color: #abad9f;
  border: none;
  : right;
}

.upload-btn:hover,
.upload-btn:focus,
.upload-btn:active {
  color: #ffffff;
  background-color: #6a6a6a;
  border: none;
}

h4 {
  padding-bottom: 30px;
  color: #B8BDC1;
}

#select-files-icon {
  font-size: 1.5em;
  padding-right: 3px;
  color: #ffffff;

}

.panel {
  padding-top: 0px;
  padding-bottom: 10px;
  width: 41.5%;
}

#upload-input {
  display: none;
}

@media (min-width: 768px) {
  .main-container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 450px;
  }
}

.panel-heading {
  background-color: #014d6f !important;
  text-align: left;
  width: 100%;
  height: 60px;
}

.glyphicon-upload {
  background-color: #abad9f !important;
}

/* File selector */ 
