.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #555;
  display: inline-block;
  line-height: 22px;
  margin: 0px 0% 0px 0%;
  max-width: 100%;
  padding: 4px 6px;
  vertical-align: top;
  width: 100%;  
}

.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  margin: 0;
  max-width: inherit;
  outline: none;
}

.focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px rgba(102,175,233,.6);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px rgba(102,175,233,.6);
}

.btn-import {
  float: right;
  width: 80px;
}

.btn-cancel {
  float: right;
  margin-right: 2%;
    width: 70px;
}

.success {
  background: #6cf;
}

.warning {
  background: #c60000;
}

td {
  background: inherit !important;
}

thead {
  border: none;
}

/* FILE SELECTOR */
.btn-file {
  overflow: hidden;
  position: relative;
  width: 100% !important;
}
.btn-file input[type=file] {
  background: blue;
  cursor: inherit;
  display: block;
  filter: alpha(opacity=0);
  font-size: 100px;
  min-height: 100%;
  min-width: 100% !important;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.well-files{
  max-height: 600px !important;
  min-height: 600px !important;
  overflow-y: auto; 
  position: relative;
}

#well-form {
  min-height: 600px;
}
/* File selector end */ 

.input1 {
  float: left !important;
  margin-right: 1%;
  margin-top: 2%;
  width: 42% !important;
}

.input2 {
  float: left !important;
  margin-top: 2%;
  width: 42% !important;
}

.btn-custom {
  float: right !important;
  margin-top: 1.7%;
  position: relative;
  width: 7% !important;
}

.glyphicon-remove {
  vertical-align: center;
}

.remove {
  float: left;
  margin-left: 0 !important;
  margin-top: 1% !important;
}

.material-icons:hover{
  text-shadow: 1px 1px 3px gray;
}

/* Modal */
.modal-dialog {
  width: 40% !important;
}
.modal-header {
  background-color: #014d6f;
}

.modal-title {
  color: white;
}

.modal-body {
  background-color: #eae8e2;
}

.modal-footer {
  background-color: #eae8e2;
}

.btnX {
  color: white;
}

.txt-modal {
  margin: 5px 0px 5px 3%;
  width: 28%;
}

.input-modal {
  color: black;
  margin: 5px 2px 5px 2%;
  vertical-align: top;
  width: 60%;
}

.modal1 {
   margin: 2px 0px 2px 0px;
   width: 100%;
}
.btn-modal-add {
  margin-right: 7%;
}

#textarea {
  max-width: 100%;
}



