
/**** TABLE TO SHOW DATA ****/
#deleteBtn {
  background-color: red; 
}

#deleteBtn:hover {
  background-color: darkred;
}

.md-button {
  margin:0 0 0 5px ;
  position: relative;
}

#editBtn:hover {
  background-color: lightgray;
}

.r-table {
  position: relative;
	display: table;
	width: 95%;
  box-shadow: 5px 5px 10px gray;
}

.r-table-row {
  height: 50px;
  background-color: white;
  box-shadow: 2px 2px 5px gray;
  color:#2d2d2d;
  display: table-row;
}

.r-table-heading {
	background-color: #014d6f;
  color: white;
  cursor: pointer;
  display: table-row;
  height: 50px !important;
  font-weight: bold;
}

.r-table-cell, .r-table-head {
  display: table-cell;
	padding: 3px 10px;
  vertical-align: middle;
  outline: none;
  border-bottom: 1px solid #ededed;
}
.r-table-cell:active {
  outline: none;
}
.paddThese {
  padding-left: 12%!important;
}

.r-table-head {
  position: relative;
}

#options {
  align-content: right;
  display: table-cell;
  min-width: 220px !important;
  padding-top: 1%;
  padding-bottom: 1%;
  position: relative;
  vertical-align: middle;
}

.r-table-foot {
  background-color: white;
  color: gray;
  height: 50px;
  display: table-row;
  font-weight: bold;
}

.r-table-body {
	display: table-row-group;
}

#expanded-table-head {
	background: lightgray;
	font-weight: bold;
  color: white;
  height: 50px;
}

.expanded-table {
	 background-color: #efefef;
}

.expanded-tableX2 {
  background-color: #e8e8e8;
}

.expanded-table:hover{
	 background-color: #f7f7f7;		
}

.expanded-first-cell {
	padding-left: 30px;
}

.expanded-x2-first-cell {
	padding-left: 60px;
}

.table-first-level {
	width: 25% !important;
}

.table-second-level {
	width: 17% ;
  position: relative;
  border-bottom: 1px solid #e5e5e5 !important;
}

.table-third-level {
	padding-bottom: 10px;
}

.search-glyph {
  color: #014d6f;
}

/**** LOADER ****/

.loader {
  animation: spin 1s linear infinite;
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-right: 2px solid #666666; 
  border-top: 2px solid #666666;
  height: 40px;
  margin: 5vh auto 5vh auto;
  width: 40px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/**** SEARCH BAR ****/

.searchbar{
  margin: auto auto 10px auto;
  padding: 0 0 20px 0;
  width: 80% !important;
}

.input-group{
  width: 100% !important;
}

.form-control {
  width: 95% !important;
}

.drop-down{
  background-color: white;
  color: black;
  margin: 5px 0 0 0;
  padding: 5px;
}

.btn-link{
  color: #014d6f;
  font-size: small;
  padding: 2px 2px 2px 10px;
}

.search-button {
  border-radius: 0 4px 4px 0;
}
