/**** TABLE *****/


table, th , td {
  color: black;
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
table{
  width: 100%;
}

#table-header { 
  cursor: pointer; 
}


/**** SEARCH BUTTON ******/

/*.dropdown .btn-link:focus{outline: none}*/

.dropdown-menu{width: 30%; padding:20px; margin-left: 0px}

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}

.btn {
    border-radius: 0;
    float: left;
}
.btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#adv-search{
    color: #000
    
}
