.container {
  width: 100%;
}


/**** TABLE *****/
/*
table, th , td {
  color: black;
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
table{
  width: 100%;
}

#table-header { 
  cursor: pointer; 
}
*/
.rTable {
  	display: table;
  	width: 100%;
}
.rTableRow {
  	display: table-row;

}
.rTableHeading {
  	display: table-header-group;
  	background-color: #ddd;
}
.rTableCell, .rTableHead {
  	display: table-cell;
  	padding: 3px 10px;
  	border: 1px solid #999999;
}
.rTableHeading {
  	display: table-header-group;
  	background-color: #ddd;
  	font-weight: bold;
}
.rTableFoot {
  	display: table-footer-group;
  	font-weight: bold;
  	background-color: #ddd;
}
.rTableBody {
  	display: table-row-group;
      
}


/*** LOADER ***/
.loader {
    animation: spin 1s linear infinite;
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-right: 2px solid #666666; 
    border-top: 2px solid #666666;
    height: 30px;
    margin: auto;
    width: 30px;

}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/**** SEARCH BUTTON ******/

/*.dropdown .btn-link:focus{outline: none}*/

.dropdown-menu{width: 30%; padding:20px; margin-left: 0px}

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}

.btn {
    border-radius: 0;
    float: left;
}
.btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#adv-search{
    color: #000
    
}
