td.table-control {
    background: url('Images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.table-controll {
    background: url('Images/details_close.png') no-repeat center center;
}
#mainTable{
    background-color: white;
    color:black;        
}