<head>
  <script src="Script/typeahead.js"></script>
  <script src="Script/bootstrap-tagsinput.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<div class="row content">
  <!-- Rubrik för sidan -->
  <div class="col-sm-12">
    <div class="well">
      <h2>Import files</h2>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="well" id = "well-form">
          <!-- ************************************************ User input begin ************************************************ -->
          <div id = "ngController" ng-controller="AddController">
            <form ng-submit="processForm()" class="form-horizontal">
              <fieldset>
                <p><span style="color: darkred">*</span> indicates required fields</p>
                <!-- ************************************************ FILE PICKER BEGIN ******************************************** -->
                <div class="form-group">
                  <label class="col-md-3 control-label">Choose files<span style="color: darkred">*</span></label>  
                  <div class="col-md-8">
                    <div class="input-group">
                      <span class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                        Browse… <!-- <input type="file" multiple=""> -->
                          <input type="file" name = "file" id="file" onchange="selectFolder(event)" webkitdirectory directory multiple/>
                        </span> 
                      </span>
                      <input type="text" class="form-control filename" readonly="">
                    </div>
                  </div>
                  <div class = "col-md-1">&nbsp;</div>
                </div>

                <!-- ************************************************ FILE PICKER END ******************************************** -->

                <div class="form-group">
                  <label class="col-md-3 control-label" for="types">Data Types<span style="color: darkred">*</span></label>  
                  <div class="col-md-8">
                    <input type="text" placeholder="e.g. dicom" class="form-control input-md" ng-model="dataTypes">
                  </div>
                  <div class = "col-md-1">&nbsp;</div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label" for="creator">Creator<span style="color: darkred">*</span></label>  
                  <div class="col-md-8">
                    <input type="text" placeholder="Write your name here" class="form-control input-md" ng-model="Info.Creator">
                  </div>
                  <div class = "col-md-1">&nbsp;</div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label" for="infoTestData">TestData ID<span style="color: darkred">*</span></label>  
                  <div class="col-md-8">
                    <input type="text" placeholder="e.g. 123456" class="form-control input-md" ng-model="Info.TestDataID">
                  </div>
                  <div class = "col-md-1">&nbsp;</div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label" for="infoTestCase">TestCase ID</label>  
                  <div class="col-md-8">
                    <input type="text" placeholder="e.g. abcdef" class="form-control input-md" ng-model="Info.TestCaseID">
                  </div>
                  <div class = "col-md-1">&nbsp;</div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label" for="patient-name">New patient name</label>  
                  <div class="col-md-8">
                    <input type="text" placeholder="e.g. Anna Andersson" class="form-control input-md" ng-model="Info.NewPatientName">
                  </div>
                  <div class = "col-md-1">&nbsp;</div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label" for="tags">Labels</label>  
                  <div class="col-md-8">
                    <input type="text" placeholder="tags" class="form-control input-md" ng-model="Tags" ng-init="Tags=' '" data-role="tagsinput">
                  </div>
                  <div class = "col-md-1">&nbsp;</div>
                </div>            
                                        
                <div class="form-group">
                  <label class="col-md-3 control-label" for="description">Description</label>  
                  <div class="col-md-8">
                   <textarea placeholder="Write description here" id="textarea" class="form-control" ng-model="Info.Description"></textarea>
                  </div>
                  <div class = "col-md-1">&nbsp;</div>
                </div>

                <!--
                <div class="form-group">
                  <label class="col-md-2 control-label" for="anonymized">Anonymized</label>  
                  <div class="col-md-8">
                  <label class="switch">
                   <input type="checkbox" ng-model="Info.Anonymized" ng-init="Info.Anonymized='false'" id="anonymized-init">
                    <div class="slider" ng-click="sliderAnonymize"></div>
                  </label>
                  </div>
                  <div class = "col-md-2">&nbsp;</div>
                </div>
                -->

                <!-- Checkboxes instead of the switch -->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="radios">Anonymized<span style="color: darkred">*</span></label>
                  <div class="col-md-8"> 
                    <label class="radio-inline" for="yes">
                      <input type="radio" name="radios" id="radio-yes-add" ng-model="Info.Anonymized" value="Yes" required="">
                      Yes
                    </label> 
                    <label class="radio-inline" for="no">
                      <input type="radio" name="radios" id="radio-no-add" ng-model="Info.Anonymized" ng-init="Info.Anonymized='no'" value="No" >
                      No
                    </label> 
                  </div>
                  <div class = "col-md-1">&nbsp;</div>
                </div> 
                                         
                <!-- Custom Fields -->
                <div class="form-group">
                  <div id="nestedform">
                    <label class="col-md-3 control-label">Custom fields:</label>
                    <div class="col-md-8">
                      <button id="b1" class="btn add-more btn-primary" type="button">Add Custom Field</button>
                        <div class="controls custom-fields" id="profs">
                          <input class="input1 form-control input-md" id="field1"  ng-model="KEYZ" type="text" placeholder="Key" value="" />
                          <input class="input2 form-control input-md" id="field2" ng-model="VALUEZ" type="text" placeholder="Value" value="" />
                          <md-button class="md-icon-button md-primary remove" aria-label="clear">
                            <md-icon class="material-icons">clear</md-icon>
                          </md-button>
                        </div>
                    </div>
                    <div class = "col-md-1">&nbsp;</div>
                  </div>
                </div>

                <div class="form-group">
                  <div class = "col-md-3">&nbsp;</div>
                    <div class="col-md-8">
                      <button class="btn btn-import btn-primary" type="submit" data-toggle="modal" data-target="#register" onclick="modalFunction()">Proceed</button>
                      <button type="button" onclick="reloadPage()" class="btn btn-cancel btn-primary">Cancel</button>
                    </div>
                    <div class = "col-md-1">&nbsp;</div>
                </div>
              </fieldset> 
            </form>

            <!-- ************************************************ Modal ************************************************-->
            <div class="modal fade" id="register" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close btnX" data-dismiss="modal">x</button>
                    <h2 class="modal-title">Overview</h2>
                  </div>
                  <div class="modal-body">
                    <div class="modal1">
                      <label for="directory" class="txt-modal">Chosen Folder:</label>
                      <input class="input-modal" id="directory" name="directory" type="text" value="{{ request.form.directory }}" disabled/>
                    </div> 

                    <div class="modal1">
                      <label for="types" class="txt-modal">Data Types:</label>
                      <input class="input-modal" id="data-types" name="data-types" type="text" value="{{ request.form.data-types }}" disabled/>
                    </div>

                    <div class="modal1">
                      <label for="creator" class="txt-modal">Creator:</label>
                      <input class="input-modal" id="creator" name="creator" type="text" value="{{ request.form.creator }}" disabled/>
                    </div>

                    <div class="modal1">
                      <label for="infoTestData" class="txt-modal">TestData ID:</label>
                      <input class="input-modal" id="TDID" name="TDID" type="text" value="{{ request.form.TDID }}" disabled/>
                    </div>

                    <div class="modal1">
                      <label for="infoTestCase" class="txt-modal">TestCase ID:</label>
                      <input class="input-modal" id="TCID" name="TCID" type="text" value="{{ request.form.TCID }}" disabled/>
                    </div>

                    <div class="modal1">
                      <label for="patient-name" class="txt-modal">New patient name:</label>
                      <input class="input-modal" id="patient-name" name="patient-name" type="text" value="{{ request.form.patient-name }}" disabled/>
                    </div>

                    <div class="modal1">
                      <label for="tags" class="txt-modal">Labels:</label>
                      <input class="input-modal" id="labels" name="labels" type="text" value="{{ request.form.labels }}" disabled/>
                    </div> 

                    <div class="modal1">
                      <label for="description" class="txt-modal">Description:</label>
                      <input class="input-modal" id="description" name="description" type="text" value="{{ request.form.description }}" disabled/>
                    </div>

                    <div class="modal1">
                      <label for="anonymized" class="txt-modal">Anonymized:</label>
                      <input class="input-modal" id="anonymized" name="anonymized" type="text" value="{{ request.form.anonymized }}" disabled/>
                    </div> 
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-modal" data-dismiss="modal">Close</button>
                    <button ng-click="SendData()" type="submit" data-dismiss="modal" class="btn btn-primary btn-modal-add">Add entry</button> 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ************************************************ MODAL END ************************************************-->
        </div>
      </div>
      <div class="col-sm-6">
        <div class="well well-files">
          <h4>Chosen files to import</h4>
          <!-- Show selected files in a list -->
          <!-- <div id="fileList"></div> -->
          <div id="fileList"></div>
        </div>
      </div>
    </div>
  </div>
</div>

