<link rel="stylesheet" type="text/css" href="Style/bootstrap.css">
<link rel="stylesheet" type="text/css" href="Style/search.css">
<link rel="stylesheet" type="text/css" href="Style/bootstrap-select.min.css">
<script src="Script/bootstrap-select.min.js"></script>


<div id="page-content-wrapper">
  <div class="searchbar">
    <div class="input-group">
      <input type="text" class="form-control" ng-model="search_filter" placeholder="Search..."/>
      <button type="button" class="btn btn-default search-button">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
    </div>

    <div class="dropdown">
      <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#adv-search" aria-expanded="false">
        Advanced search <b class="caret"></b>
      </button>
      <div class="row">
        <div class="col-md-12 collapse drop-down" id="adv-search" > 
          <div class="col-md-4" >               
            <div class="selectFiletype">
              <p>Filetype:</p>               
              <div class="checkbox">
                <label><input type="checkbox" value="dicom"> DICOM</label>
                <label><input type="checkbox" value="txt"> txt</label>
                <label><input type="checkbox" value="jpeg"> JPEG</label>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="selectModality">
              <p>Modality:</p>
              <div class="modality">
                <select class="selectpicker" multiple title="Choose DICOM type..." data-live-search="true">
                  <option>CR</option>
                  <option>CT</option>
                  <option>MR</option>
                </select>
              </div>
            </div>
          </div> 
          <div class="col-md-4">
            <p>Tags: </p>  
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="r-table" ng-controller="show_data_ctrl">
    <div class="r-table-heading">
      <div class="r-table-head" ng-click="sortBy('name')">Patient Name <img src="Images/sort_both.png"></div>
      <div class="r-table-head">Modality</div>
      <div class="r-table-head">Study ID</div>
      <div class="r-table-head">Accession Nr</div>
      <div class="r-table-head"></div><!-- For the edit icon in the cells -->
    </div>
    <div ng-show="loading" class="r-table-row">    
      <div class="r-table-cell"></div>
      <div class="r-table-cell"><div class="loader"></div></div>
      <div class="r-table-cell"></div>
      <div class="r-table-cell"></div>
      <div class="r-table-cell"></div>
    </div>
    <div class="r-table-row" ng-repeat-start="x in show_data | orderBy:property_name:reverse | filter : search_filter" draggable="true" ondragstart="dragstartHandler(event)" ondragend="dragendHandler(event)" id="{{x.name}}">
      <div class="r-table-cell" ng-click="xExpand(x,1)" >
        <img ng-if="x.expanded" class="expand-arrow" src="Images/down_arrow.png"><img ng-if="!x.expanded" class="expand-arrow" src="Images/right_arrow.png">{{x.name}}
      </div>
      <div class="r-table-cell"></div>
      <div class="r-table-cell"></div>
      <div class="r-table-cell"></div>
      <div class="r-table-cell"></div>
    </div>

    <div class="r-table-row" ng-if="x.expanded" ng-repeat="object in x.objects | filter : search_filter | limitTo: limit" ng-repeat-end="">
      <div class="r-table-cell"></div> <!-- Patient Name, leave this one empty -->
      <div class="r-table-cell">{{ object.Document["(0008,0060)"] }}</div> <!-- Modality -->
      <div class="r-table-cell">{{ object.Document["(0020,0010)"] }}</div> <!-- Study ID -->
      <div class="r-table-cell">{{ object.Document["(0008,0050)"] }}</div> <!-- Accession Nr -->
      <div class="r-table-cell" id="options"> <md-button class="md-raised" aria-hidden="true" id="editBtn" >EDIT</md-button><md-button class="md-raised md-primary" ng-click="deleteEntryItem($event)" id="deleteBtn" label="{{object.Id}}" aria-hidden="true">DELETE</md-button></div>
      <!-- How to expand the table once more (we keep it for now, if we want to use it), for example
      <div class="rTableCell" ng-click="xExpand(object)"> {{object.Id}}</div>
      <div class="rTableCell" ng-if="object.expanded">
        Information
      </div> -->
    </div>
    <div class="r-table-foot">
      <div class="r-table-cell">Number of visible people: {{ show_data_length }}</div>
      <div class="r-table-cell"></div>
      <div class="r-table-cell"></div>
      <div class="r-table-cell"></div>
      <div class="r-table-cell"></div>
    </div>
  </div>
</div>