<!--<link rel="stylesheet" type="text/css" href="Style/jquery.dataTables.min.css">-->
<link rel="stylesheet" type="text/css" href="Style/bootstrap.css">
<link rel="stylesheet" type="text/css" href="Style/search.css">


<!--<script src="Script/jquery.js"></script>
  <script src="Script/jquery.dataTables.js"></script>-->

<div class="container" id="adv-search">

    <div class="row">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="search_filter" placeholder="Search..." />
            <button type="button" class="btn btn-default">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
        </div>
    </div>

    <div class="row">
        <div class="dropdown">
            <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                aria-pressed="false">Advanced search <b class="caret"></b></button>

            <div class="dropdown-menu">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="filter">Filter by</label>
                        <select class="form-control">
                              <option value="0" selected>All Files</option>
                              <option value="1">.JPEG</option>
                              <option value="2">.DICOM</option>
                              <option value="3">.txt</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <label for="contain">User</label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label for="contain">Tags</label>
                        <input class="form-control" type="text" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="rTable" ng-controller="show_data_ctrl">
    <div>
        <label ng-repeat="filterName in fullFilter" class="checkbox-inline">
           <input type="checkbox" name="selectedFilters[]" value="{{filterName}}" ng-checked="selectedFilter.indexOf(filterName) > -1" ng-click="toggleFilter(filterName)"> {{filterName.name}}
        </label>
    </div>
    <div class="rTableHeading">
        <div class="rTableHead" ng-click="sortBy('name')">Patient Name <img src="Images/sort_both.png"></div>
        <div class="rTableHead">b</div>
        <div class="rTableHead">c</div>
        <div class="rTableHead">d</div>
        <div class="rTableHead">e</div>
        <div class="rTableHead">f</div>
        <div class="rTableHead">g</div>
    </div>
    <div ng-show="loading" class="loader">
    </div>
    <div class="rTableRow" ng-repeat-start="x in show_data | orderBy:property_name:reverse">
        <div class="rTableCell" ng-click="xExpand(x,1)" draggable="true" ondragstart="dragstartHandler(event)" ondragend="dragendHandler(event)"
            id="{{x.name}}">{{x.name}}</div>
        <div class="rTableCell"></div>
        <div class="rTableCell"></div>
        <div class="rTableCell"></div>
        <div class="rTableCell"></div>
        <div class="rTableCell"></div>
        <div class="rTableCell"></div>
    </div>

        <div class="rTableCell"></div>
        <div class="rTableCell" ng-click="xExpand(object)"> {{object.Id}}</div>
        <div class="rTableCell" ng-if="object.expanded">
            <ul  style="list-style-type:none">
                <li ng-repeat="filterName in fullFilter">
                    <BR>{{filterName.name}}
                </li>
            </ul>
        </div>
        <div class="rTableCell" ng-if="object.expanded">
            <ul style="list-style-type:none">
                <li ng-repeat="filterName in fullFilter">
                    <br> {{object.Document[filterName.key] || '---' }} </br>
                </li>
            </ul>
        </div>
        <div class="rTableCell" ng-if="!object.expanded">... </div>
        <div class="rTableCell" ng-if="!object.expanded">... </div>
        <div class="rTableCell"></div>
        <div class="rTableCell"></div>
        <div class="rTableCell"></div>
    </div>
    <div class="rTableFoot">
        <div class="rTableCell">Number of visible people: </div>
        <div class="rTableCell">{{results.length}}</div>
        <div class="rTableCell"></div>
        <div class="rTableCell"></div>
        <div class="rTableCell"></div>
        <div class="rTableCell"></div>
        <div class="rTableCell"></div>
    </div>
</div>