<link rel="stylesheet" type="text/css" href="Style/search.css">
<script src="Script\lodash.js"></script>
<div ng-controller="show_data_ctrl">


  <div id="page-content-wrapper">
    <div class="searchbar">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="search_filter" placeholder="Search..." />
        <button type="button" class="btn btn-default search-button">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
      </div>
      <div ng-dropdown-multiselect="" options="fullFilter" selected-model="selectedFilter" extra-settings="ddsettings"></div>

    </div>

    <div class="r-table">
      <div class="r-table-heading">
        <div class="r-table-head table-first-level" ng-click="sortBy('name')">Patient Name <img src="Images/sort_both.png"></div>
        <div class="r-table-head table-first-level">Tags</div>
        <div class="r-table-head table-first-level">Modalities</div>
        <div class="r-table-head table-first-level">#TestDataEntries</div>
        <div class="r-table-head table-first-level paddThese"></div>
        <div class="r-table-head table-first-level paddThese"></div>
        <!-- For the edit icon in the cells -->
      </div>
      <div ng-show="loading" class="r-table-row">
        <!-- A loading animation when the data is being loaded -->
        <div class="r-table-cell table-first-level"></div>
        <div class="r-table-cell table-first-level">
          <div class="loader"></div>
        </div>
        <div class="r-table-cell table-first-level"></div>
        <div class="r-table-cell table-first-level"></div>
        <div class="r-table-cell table-first-level"></div>
        <div class="r-table-cell table-first-level"></div>
      </div>
      <div class="r-table-row" ng-repeat-start="x in show_data | orderBy:property_name:reverse | filter : search_filter | filter : removeParent" " >
      <div class="r-table-cell table-first-level " ng-click="xExpand(x,1) " > <!-- Patient Name -->
        <span class="glyphicon glyphicon-triangle-bottom search-glyph " ng-if="x.expanded " aria-hidden="true
        "></span><span class=" glyphicon glyphicon-triangle-right search-glyph " ng-if="!x.expanded " aria-hidden="true "></span>
        <span draggable="true" ondragstart="dragstartHandler(event)" ondragend="dragendHandler(event)" id="{{x.name}}">
          {{x.name}}
        </span>
      </div>
      <div class="r-table-cell table-first-level "> <!-- Tags -->
        <span ng-repeat="tag in x.tags | limitTo: 5 "> {{tag}} </span><span ng-if="x.tags.length> 5">...</span>
    </div>
    <div class="r-table-cell table-first-level">
      <!-- Modalities -->
      <span ng-repeat="modality in x.modalities">{{modality}}</span>
    </div>
    <div class="r-table-cell table-first-level">
      <!-- Nr of TestData -->
      {{x.objects.length}}
    </div>
    <div class="r-table-cell table-first-level"></div>
    <div class="r-table-cell table-first-level"></div>
  </div>
  <div class="r-table-row" ng-if="x.expanded" id="expanded-table-head">
    <div class="r-table-cell expanded-first-cell table-second-level">ID</div>
    <div class="r-table-cell table-second-level">Tags</div>
    <div class="r-table-cell table-second-level">Modality</div>
    <div class="r-table-cell table-second-level">#images</div>
    <div class="r-table-cell table-second-level">StudyID</div>
    <div class="r-table-cell table-second-level"></div>
  </div>
  <div class="r-table-row expanded-table" ng-if="x.expanded" ng-repeat-start="object in x.objects | filter : search_filter | filter:checkBoxFilter"
    name="{{object.Id}}">
    <div class="r-table-cell expanded-first-cell table-second-level" ng-click="xExpand(object)">
      <!-- Id -->
      <span class="glyphicon glyphicon-triangle-bottom search-glyph" ng-if="object.expanded" aria-hidden="true"></span><span
        class="glyphicon glyphicon-triangle-right search-glyph" ng-if="!object.expanded" aria-hidden="true"></span>
      <span draggable="true" ondragstart="dragstartHandler(event)" ondragend="dragendHandler(event)" id="{{object.Id}}">
          {{object.Id}}
        </span>
    </div>
    <div class="r-table-cell table-second-level">
      <!-- Tags -->
      <span ng-repeat="tag in object.Document['Attributes']['Tags']"> {{tag}} </span>
    </div>
    <div class="r-table-cell table-second-level">
      <!-- Modality -->
      {{ object.Document["(0008,0060)"] }}
    </div>
    <div class="r-table-cell table-second-level">
      <!-- #images -->
      #{{ object.Document["(0020,1002)"] }}
    </div>
    <div class="r-table-cell table-second-level">
      <!-- StudyID -->
      {{ object.Document["(0020,0010)"] }}
    </div>
    <div class="r-table-cell table-second-level" id="options">
      <md-button class="md-raised" ng-click="editInitData(object)" data-toggle="modal" data-target="#editItem" aria-hidden="true"
        id="{{object.Id}}" label="editBtn">EDIT</md-button>
        <md-button class="md-raised md-primary" ng-click="deleteEntryItem($event, object.Id, object.Type)"
          id="deleteBtn" value="{{object.Id}}" aria-hidden="true">DELETE</md-button>
    </div>
</div>
<div class="r-table-row expanded-tableX2" ng-if="object.expanded" ng-repeat-end>
  <div class="r-table-cell table-third-level expanded-x2-first-cell">
    Datatype: {{ object.Type }} <br> TestData ID: {{ object.Document["Attributes"]["Info"]["TestDataID"] }} <br> TestCase
    ID: {{ object.Document["Attributes"]["Info"]["TestCaseID"] }}
  </div>
  <div class="r-table-cell table-third-level">
    Creator: {{ object.Document["Attributes"]["Info"]["Creator"] }}<br> Import date: {{ object.Document["Attributes"]["Info"]["Import
    Date"]}} </div>
  <div class="r-table-cell table-third-level">
    Description: <br> {{ object.Document["Attributes"]["Info"]["Description"] }}
  </div>
  <div class="r-table-cell table-third-level"></div>
  <div class="r-table-cell table-third-level"></div>
  <div class="r-table-cell table-third-level"></div>
</div>
<div ng-repeat-end ng-hide="true"></div>
<div class="r-table-foot">
  <div class="r-table-cell table-first-level">Number of visible people: {{ show_data_length }}</div>
  <div class="r-table-cell table-first-level"></div>
  <div class="r-table-cell table-first-level"></div>
  <div class="r-table-cell table-first-level"></div>
  <div class="r-table-cell table-first-level"></div>
  <div class="r-table-cell table-first-level"></div>
</div>

<!-- Modal for edit items -->
<div class="modal fade" id="editItem" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close btnX" data-dismiss="modal">x</button>
        <h2 class="modal-title">Edit TestData</h2>
      </div>
      <div class="modal-body">
        <div class="modal1">
          <label for="creator" class="txt-modal">Creator:</label>
          <input id="edit-creator" class="input-modal" name="creator" type="text" />
        </div>

        <div class="modal1">
          <label for="infoTestData" class="txt-modal">TestData ID:</label>
          <input id="edit-TDID" class="input-modal" name="TDID" type="text" />
        </div>

        <div class="modal1">
          <label for="infoTestCase" class="txt-modal">TestCase ID:</label>
          <input id="edit-TCID" class="input-modal" name="TCID" type="text" />
        </div>

        <div class="modal1">
          <label for="patient-name" class="txt-modal">New patient name:</label>
          <input id="edit-patient-name" class="input-modal" name="patient-name" type="text" />
        </div>

        <div class="modal1">
          <label for="tags" class="txt-modal">Labels:</label>
          <input id="edit-tags" class="input-modal" value="" data-role="tagsinput" class="form-control" ng-model="Tags" ng-init="Tags=''"
            name="tags" type="text" />
        </div>

        <div class="modal1">
          <label for="description" class="txt-modal">Description:</label>
          <textarea type="text" class="input-modal" id="edit-description" />
        </div>

        <div class="modal1">
          <label class="txt-modal" for="radios">Anonymized</label> 
            <span class="input-modal">
              <label class="radio-inline" for="yes">
                <input type="radio" name="radios" id="radio-yes" ng-model="Info.Anonymized" value="Yes" required="">
                Yes
              </label> 
              <label class="radio-inline" for="no">
                <input type="radio" name="radios" id="radio-no" ng-model="Info.Anonymized" ng-init="Info.Anonymized='false'" value="No">
                No
              </label> 
            </span>
        </div> 

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        <button type="submit" data-dismiss="modal" class="btn btn-primary" ng-click="editDataFunction()">Save</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>