<link rel="stylesheet" type="text/css" href="Style/test.css">

<h1 id="heading-browse">Files to send to test</h1>

<div ng-controller="test_data_ctrl">
  <div class="r-table" id="test-table">
    <div class="r-table-heading">
      <div class="r-table-head">Patient Name</div>
      <div class="r-table-head">Id</div>
      <div class="r-table-head">Modality</div>
      <div class="r-table-head">Tags</div>
      <div class="r-table-head">TestCase ID</div>
      <div class="r-table-head"></div>
    </div>
    <div ng-show="test_objects.length == 0" class="r-table-row">    
      <div class="r-table-cell">No objects selected.</div>
      <div class="r-table-cell"></div>
      <div class="r-table-cell"></div>
      <div class="r-table-cell"></div>
      <div class="r-table-cell"></div>
      <div class="r-table-cell"></div>
    </div>
    <div class="r-table-row" ng-repeat="x in test_objects" >
      <div class="r-table-cell" > <!-- Patient Name -->
        {{ x.Document["(0010,0010)"] }}
      </div>
      <div class="r-table-cell"> <!-- Id -->
        {{x.Id}}
      </div> 
      <div class="r-table-cell"> <!-- Modality -->
        {{ x.Document["(0008,0060)"] }}
      </div>
      <div class="r-table-cell"> <!-- Tags -->
        <span ng-repeat="tag in x.Document['Attributes']['Tags']"> {{ tag }} </span>
      </div>
      <div class="r-table-cell"> {{ x.Document["Attributes"]["Info"]["TestCaseID"] }} </div>
      <div class="r-table-cell"><md-button class="md-raised md-primary" id="remove-btn" ng-click="deleteFromTest(x.Id)" aria-hidden="true">REMOVE</md-button></div>
    </div>
    <div class="r-table-foot">
      <div class="r-table-cell">Number of objects: {{ test_objects.length }} </div>
      <div class="r-table-cell"></div>
      <div class="r-table-cell"></div>
      <div class="r-table-cell"></div>
      <div class="r-table-cell"></div>
      <div class="r-table-cell"></div>
    </div>
  </div>
  <button class="btn btn-primary" id="to-test-btn" ng-click="sendToTest()" aria-hidden="true">SEND TO TEST</button>
</div>